/*--------------------------------------------------------------
10.4 Header
--------------------------------------------------------------*/
/*site widths*/
.wrapper{
    max-width: 1200px;
    width: 100%;
    margin: auto;
    
}
header#masthead{
    
    
}

button.menu-toggle {
    border: none;
    box-shadow: none;
    background-color: transparent;
    font-size: 1.4rem;
    margin-left: 10px;
}
